supabase/.temp
supabase/.branches
.env
Configuration.xcconfig
*.xcconfig

# Xcode UI settings 
*.xcuserstate
project.xcworkspace/xcuserdata/
*.xcuserdatad
*.pb*

# Build products
build/
DerivedData/

# System files
.DS_Store
Configuration.xcconfig

# CocoaPods (if you use them)
Pods/
Media.xcassets
# Ignore local deno
local_deno/
#Data
seed.sql