<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>${API_KEY}</string>
	<key>ENDPOINT</key>
	<string>${ENDPOINT}</string>
	<key>HOME_LOCK_PASSWORD</key>
	<string>${HOME_LOCK_PASSWORD}</string>
	<key>NSMotionUsageDescription</key>
	<string>This app uses motion data to detect your activity type (walking, cycling, driving).</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>AppIcon</string>
	</dict>
</dict>
</plist>
