<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>${API_KEY}</string>
	<key>ENDPOINT</key>
	<string>${ENDPOINT}</string>
	<key>HOME_LOCK_PASSWORD</key>
	<string>${HOME_LOCK_PASSWORD}</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(INFOPLIST_NS_LOCATION_ALWAYS_AND_WHEN_IN_USE)</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(INFOPLIST_NS_LOCATION_ALWAYS)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(INFOPLIST_NS_LOCATION_WHEN_IN_USE)</string>
	<key>NSMotionUsageDescription</key>
	<string>$(INFOPLIST_NS_MOTION)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>PingloAppIcon</string>
	</dict>
</dict>
</plist>
